html(style='width: 100%;')
  head
    title
    meta(name='description' content='')
    meta(name='keywords' content='ë§¤ë‹ˆìŠ¤íƒˆë§ìŠ¤')
    meta(property="og:type" content="website")
    meta(property="og:site_name" content="MST")
    meta(property="og:title" content="ì°¨ê°€ìš´ ê¸°ìˆ ë¡œ ë”°ëœ»í•œ ì„¸ìƒì„ ë§Œë“œëŠ” ðŸ™‚ðŸ™‚ | AI ë¹„ì „ì†”ë£¨ì…˜ ë§¤ë‹ˆìŠ¤íƒˆë§ìŠ¤ Many Stallings Company")
    meta(property="og:description" content="AI Vision Solution")
    meta(property="og:image" content="http://plusuniv.com/img/og_img.png")
    meta(property='og:image:alt', content='Many Stallings Company Logo')
    meta(property="og:url" content="http://plusuniv.com")

    script(type="text/javascript" src="/js/vue.js")
    script(type="text/javascript" src="/js/grunt-build.js")
    script(type="text/javascript" src="/js/axios.js")
    script(type="text/javascript" src="/js/http.js")

    link(rel='stylesheet' href='/css/buefy.css')
    link(rel="stylesheet" href='/css/admin.css')

    //link(href='https://vjs.zencdn.net/7.19.2/video-js.css', rel='stylesheet')

    link(rel='canonical' href='http://plusuniv.com')
    meta(name="viewport" content="width=device-width, initial-scale=1.0")

    link(rel='apple-touch-icon' href='/apple-touch-icon.png')
    //link(rel="icon" href="https://plusuniv.com/favicon.ico" type="image/x-icon")
    //link(rel='icon', href='https://plusuniv.com/favicon.svg' type="image/svg+xml")
  body
    #app
      main
        tnb-admin
        lnb(menu-name="ì–´ë“œë¯¼/ë””ë„ìŠ¤ëª¨ë‹ˆí„°ë§")
        .main-inner
          section
            h1 ì´ˆê¸° ë””ë„ìŠ¤ ëª¨ë‹ˆí„°ë§ (DDos Internet Security Monitor)
            p ì•„ì´í”¼ ë¬´ê´€ 1ë¶„ ì´ë‚´ ì¡°íšŒìˆ˜ ì¦ê°€ëŸ‰ì´ 1000íšŒë¥¼ ë„˜ì–´ê°ˆ ê²½ìš° ê¸°ë¡ë˜ë©° ì‚¬ì´íŠ¸ ì ‘ì†ì´ ìµœëŒ€ 1ì‹œê°„ ë™ì•ˆ 401 ì‘ë‹µì½”ë“œë¡œ ì°¨ë‹¨ë©ë‹ˆë‹¤.
            article(v-if="raw.length > 0")
              table.table
                thead
                  tr
                    th ì‹œìž‘ì‹œê°
                    th ì¢…ë£Œì‹œê°
                    th IP
                    th ì¡°íšŒìˆ˜
                    th ì°¨ë‹¨ì—¬ë¶€
                tbody
                  tr(v-for="row in raw")
                    td {{row['ì‹œìž‘ì‹œê°']}}
                    td {{row['ì¢…ë£Œì‹œê°']}}
                    td 
                      span {{row['IP']}}
                    td {{row['ì¡°íšŒìˆ˜']}}
                    td {{row['ì°¨ë‹¨ì—¬ë¶€']}}
              p ë³´í†µ 2ì£¼ê°„ ì´ 5íšŒ ì´í•˜ë¡œ ë°œìƒí•˜ê³  ë” ì´ìƒì˜ ê¸°ë¡ì´ ì—†ëŠ” ê²½ìš° ë¹„ì •ìƒ ì ‘ì† ì—¬ë¶€ë¥¼ íŒë‹¨í•˜ì§€ ì•Šê³  ì§€ì¼œë³¼ ìˆ˜ ìžˆìŠµë‹ˆë‹¤.
              p ê³µê²©ìž ì•„ì´í”¼ëŠ” PM2 ì˜¤í”ˆì†ŒìŠ¤ë¥¼ í†µí•˜ì—¬ ìˆ˜ì§‘ë˜ë©° ê°œë°œëœ ì›¹ì„œë²„ì—ì„œëŠ” ê¸°ë³¸ê°’ìœ¼ë¡œ ìˆ˜ì§‘ë˜ì§€ ì•ŠìŠµë‹ˆë‹¤. ë˜ëŠ” í´ë¼ìš°ë“œ ê³µê¸‰ìžì˜ ì •ì±…ì— ë”°ë¼ ì•„ì´í”¼ ì •ë³´ê°€ ì—†ì„ ìˆ˜ ìžˆìŠµë‹ˆë‹¤.

            b(v-else) ë””ë„ìŠ¤ ëª¨ë‹ˆí„°ë§ì—ì„œ ë°ì´í„°ê°€ ê°ì§€ë˜ì§€ ì•Šì•˜ìŠµë‹ˆë‹¤.
    include common/tnb-admin.pug
    include common/lnb.pug

  script(type="text/javascript" src="/js/components.js")
  script(type='text/javascript').

    var v = new Vue({
      el: '#app',
      components: {
      },
      data: {
        raw: [],
        select: {},
        urlMap: {
          '/': 'ë©”ì¸ íŽ˜ì´ì§€',
          '/research': 'ì—°êµ¬',
          '/HR': '(HR) ì¸ìž¬ ì±„ìš©',
          '/HR1': 'HR í”„ë¡œì„¸ìŠ¤',
          '/HRh': 'HR í•´ì‹œì½”ë“œ ìƒì„± íŽ˜ì´ì§€',
          '/HR2': 'HR í•´ì‹œì½”ë“œ ìž…ë ¥ íŽ˜ì´ì§€',
          '/HR3': 'ì±„ìš© í›„',
          '/license': 'í”„ë¡ íŠ¸ì—”ë“œ License',
          '/terms/wordnote': 'Wordnote App Terms',
          '/terms/wordnote2': 'Wordnote App Terms',
          '/%EC%96%B4%EB%93%9C%EB%AF%BC/%EB%A9%94%EC%9D%B8': 'ì–´ë“œë¯¼ ë©”ì¸',
          '/%EC%96%B4%EB%93%9C%EB%AF%BC/%ED%8A%B8%EB%9E%98%ED%94%BD': 'ì–´ë“œë¯¼ íŽ˜ì´ì§€ë·°',
          '/%EC%96%B4%EB%93%9C%EB%AF%BC/SEO%EC%84%A4%EC%A0%95': 'ì–´ë“œë¯¼ SEO ì„¤ì •',
          '/%EC%96%B4%EB%93%9C%EB%AF%BC/%EB%B3%B4%EC%95%88%EC%84%A4%EC%A0%95': 'ì–´ë“œë¯¼ ë³´ì•ˆ ì„¤ì •'
        },
      },
      methods: {
      },
      computed: {
      },
      created()
      {
      },
      mounted()
      {
        http({uri:"ëŒ€ëŸ‰íŽ˜ì´ì§€ë·°ì½ê¸°", method:"patch", param: { tableName: 'ëŒ€ëŸ‰íŽ˜ì´ì§€ë·°', row: '', option: {rowId: 'ì „ì²´'} }, cb: (res) => {
          if(res.code === 0)
          {
            if(!Array.isArray(res.row))
              this.raw = []
            else
              this.raw = res.row
          }
        } })
      },
      beforeDestroy()
      {
      }

    })