html(style='width: 100%;')
  head
    title
    meta(name='description' content='')
    meta(name='keywords' content='ë§¤ë‹ˆìŠ¤íƒˆë§ìŠ¤')
    meta(property="og:type" content="website")
    meta(property="og:site_name" content="MST")
    meta(property="og:title" content="ì°¨ê°€ìš´ ê¸°ìˆ ë¡œ ë”°ëœ»í•œ ì„¸ìƒì„ ë§Œë“œëŠ” ðŸ™‚ðŸ™‚ | AI ë¹„ì „ì†”ë£¨ì…˜ ë§¤ë‹ˆìŠ¤íƒˆë§ìŠ¤ Many Stallings Company")
    meta(property="og:description" content="AI Vision Solution")
    meta(property="og:image" content="http://plusuniv.com/img/og_img.png")
    meta(property='og:image:alt', content='Many Stallings Company Logo')
    meta(property="og:url" content="http://plusuniv.com")

    script(type="text/javascript" src="/js/vue.js")
    script(type="text/javascript" src="/js/grunt-build.js")
    script(type="text/javascript" src="/js/axios.js")
    script(type="text/javascript" src="/js/http.js")

    link(rel='stylesheet' href='/css/buefy.css')
    link(rel="stylesheet" href='/css/admin.css')

    //link(href='https://vjs.zencdn.net/7.19.2/video-js.css', rel='stylesheet')

    link(rel='canonical' href='http://plusuniv.com')
    meta(name="viewport" content="width=device-width, initial-scale=1.0")

    link(rel='apple-touch-icon' href='/apple-touch-icon.png')
    //link(rel="icon" href="https://plusuniv.com/favicon.ico" type="image/x-icon")
    //link(rel='icon', href='https://plusuniv.com/favicon.svg' type="image/svg+xml")
  body
    #app
      main
        tnb-admin
        lnb(menu-name="ì–´ë“œë¯¼/ê²Œì‹œíŒ")
        .main-inner
          .data-control
            button.is-left(@click="goBack") ì´ì „ íŽ˜ì´ì§€
            button.is-left(@click="write(cmd)") {{cmd}}
          .notice
            .h-stack
              .label ì¹´í…Œê³ ë¦¬
              b-input.flex-1(type="text" v-model="select[0]['ì¹´í…Œê³ ë¦¬']" disabled)
            .h-stack
              .label ë²ˆí˜¸/ì¼ì‹œ
              b-input.flex-1(type="text" :value="select[0]['NO'] + ' / ' + select[0]['ì¼ì‹œ']" disabled)
            .h-stack
              .label êµ­ë¬¸ì œëª©
              b-input.flex-1(type="text" v-model="select[0]['êµ­ë¬¸ì œëª©']" placeholder="êµ­ë¬¸ì œëª©" :disabled="cmd == 'ìˆ˜ì •'")
            .h-stack
              .label êµ­ë¬¸ë‚´ìš©
              b-input.flex-1(type="textarea" v-model="select[0]['êµ­ë¬¸ë‚´ìš©']" placeholder="êµ­ë¬¸ë‚´ìš©" :disabled="cmd == 'ìˆ˜ì •'")
            .h-stack
              .label ì˜ë¬¸ì œëª©
              b-input.flex-1(type="text" v-model="select[0]['ì˜ë¬¸ì œëª©']" placeholder="ì˜ë¬¸ì œëª©" :disabled="cmd == 'ìˆ˜ì •'")
            .h-stack
              .label ì˜ë¬¸ë‚´ìš©
              b-input.flex-1(type="textarea" v-model="select[0]['ì˜ë¬¸ë‚´ìš©']" placeholder="ì˜ë¬¸ë‚´ìš©" :disabled="cmd == 'ìˆ˜ì •'")
    include common/tnb-admin.pug
    include common/lnb.pug
          
 
  script(type="text/javascript" src="/js/components.js")
  script(type='text/javascript').
    let tableName = "#{tableName}"
    let noticeNo = "#{noticeNo}"
    var v = new Vue({
      el: '#app',
      components: {
      },
      data: {
        cmd: 'ìˆ˜ì •',
        select: [{}]
      },
      methods: {
        write: function (cmd) {
          if(cmd == 'ìˆ˜ì •')
          {
            this.cmd = 'ë“±ë¡'
            return
          }
          else if(cmd == 'ë“±ë¡') {
            if(!this.select) return
            if(this.select.length != 1) return
            http({uri:"ê²Œì‹œíŒìˆ˜ì •", method:"put", param: { tableName: tableName, datetime: this.select[0]['ì¼ì‹œ'], row: this.select[0] }, cb: (res) => {
              this.cmd = 'ìˆ˜ì •'
              if(res.code === 0)
              {
                alert("ìˆ˜ì •ë˜ì—ˆìŠµë‹ˆë‹¤.")
              }
              else
                alert("ìˆ˜ì •ì— ì‹¤íŒ¨í•˜ì˜€ìŠµë‹ˆë‹¤.")
            } })
          }
        },
        goBack: function () {
          history.go(-1)
        }
      },
      computed: {
      },
      created()
      {
      },
      mounted()
      {
        http({uri:"ê²Œì‹œíŒê²€ìƒ‰", method:"patch", param: { tableName: tableName, option: {row: {NO: noticeNo}, condition: 'ê°™ìŒ'} }, cb: (res) => {
          if(res.code === 0)
          {
            if(!Array.isArray(res.data))
              this.select = []
            else
              this.select = res.data
            if(this.select.length > 0)
            {
            }
          }
        } })
      },
      beforeDestroy()
      {
      }

    })